In [60]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
mask = pd.read_csv('./data/mask-use-by-county.csv')

In [47]:
mask.head()
mask['STCOUNTYFP'] = mask['COUNTYFP']

In [20]:
fips = pd.read_csv('./data/ZIP-COUNTY-FIPS_2018-03.csv')

In [35]:
fips.head()

     ZIP  STCOUNTYFP           CITY STATE      COUNTYNAME CLASSFP
0  36091        1001        Verbena    AL  Autauga County      H1
1  36758        1001  Plantersville    AL  Autauga County      H1
2  36006        1001    Billingsley    AL  Autauga County      H1
3  36067        1001     Prattville    AL  Autauga County      H1
4  36701        1001          Selma    AL  Autauga County      H1

In [52]:
mask.shape

(3142, 7)

In [37]:
fips_dict = fips[['STCOUNTYFP', 'STATE', 'COUNTYNAME']]

In [39]:
fips_dict.drop_duplicates(inplace=True)

/Users/alexander.fioto/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [58]:
fips_dict['STATE'].value_counts()

TX    254
GA    159
VA    133
KY    120
MO    115
KS    105
IL    102
NC    100
IA     99
TN     95
NE     93
IN     92
OH     88
MN     87
MI     83
MS     82
PR     78
OK     77
AR     75
WI     72
FL     67
PA     67
AL     67
SD     65
CO     64
LA     64
NY     62
CA     58
MT     56
WV     55
ND     53
SC     46
ID     44
WA     39
OR     36
NM     33
UT     29
AK     28
MD     24
WY     23
NJ     21
NV     17
ME     16
AZ     15
VT     14
MA     14
NH     10
CT      8
RI      5
HI      5
DE      3
VI      3
DC      1
GU      1
Name: STATE, dtype: int64

In [49]:
total = pd.merge(mask, fips_dict, on='STCOUNTYFP')

In [54]:
total.drop('STCOUNTYFP', inplace=True, axis=1)

In [59]:
total.head()

,COUNTYFP,NEVER,RARELY,SOMETIMES,FREQUENTLY,ALWAYS,STATE,COUNTYNAME
0,1001,0.053,0.074,0.134,0.295,0.444,AL,Autauga County
1,1003,0.083,0.059,0.098,0.323,0.436,AL,Baldwin County
2,1005,0.067,0.121,0.120,0.201,0.491,AL,Barbour County
3,1007,0.020,0.034,0.096,0.278,0.572,AL,Bibb County
4,1009,0.053,0.114,0.180,0.194,0.459,AL,Blount County

In [61]:
total.to_csv('./data/masks_by_county.csv')