## Cases/Deaths by State: Jul 1 - Sep 1, 2020

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
plt.style.use('ggplot')

import seaborn as sns
import datetime

In [2]:
states = pd.read_csv('./us-states.csv')

In [3]:
states['date'] = pd.to_datetime(states['date'])

In [4]:
states.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12334 entries, 0 to 12333
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    12334 non-null  datetime64[ns]
 1   state   12334 non-null  object
 2   fips    12334 non-null  int64
 3   cases   12334 non-null  int64
 4   deaths  12334 non-null  int64
dtypes: datetime64[ns](1), int64(3), object(1)
memory usage: 481.9+ KB

In [5]:
states.head()

        date       state  fips  cases  deaths
0 2020-01-21  Washington    53      1       0
1 2020-01-22  Washington    53      1       0
2 2020-01-23  Washington    53      1       0
3 2020-01-24    Illinois    17      1       0
4 2020-01-24  Washington    53      1       0

### Slice DataFrame to include 2020-07-01 to 2020-09-01 only

In [6]:
snapshot = states[(states['date']>='2020-07-01') & (states['date']<='2020-09-01')]

In [7]:
snapshot.head()

           date       state  fips   cases  deaths
6614 2020-07-01     Alabama     1   38962     972
6615 2020-07-01      Alaska     2    1174      12
6616 2020-07-01     Arizona     4   84152    1726
6617 2020-07-01    Arkansas     5   21197     277
6618 2020-07-01  California     6  239764    6168

In [8]:
snapshot.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3465 entries, 6614 to 10078
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    3465 non-null   datetime64[ns]
 1   state   3465 non-null   object
 2   fips    3465 non-null   int64
 3   cases   3465 non-null   int64
 4   deaths  3465 non-null   int64
dtypes: datetime64[ns](1), int64(3), object(1)
memory usage: 162.4+ KB

In [9]:
snapshot['date'].unique()

array(['2020-07-01T00:00:00.000000000', '2020-07-02T00:00:00.000000000',
       '2020-07-03T00:00:00.000000000', '2020-07-04T00:00:00.000000000',
       '2020-07-05T00:00:00.000000000', '2020-07-06T00:00:00.000000000',
       '2020-07-07T00:00:00.000000000', '2020-07-08T00:00:00.000000000',
       '2020-07-09T00:00:00.000000000', '2020-07-10T00:00:00.000000000',
       '2020-07-11T00:00:00.000000000', '2020-07-12T00:00:00.000000000',
       '2020-07-13T00:00:00.000000000', '2020-07-14T00:00:00.000000000',
       '2020-07-15T00:00:00.000000000', '2020-07-16T00:00:00.000000000',
       '2020-07-17T00:00:00.000000000', '2020-07-18T00:00:00.000000000',
       '2020-07-19T00:00:00.000000000', '2020-07-20T00:00:00.000000000',
       '2020-07-21T00:00:00.000000000', '2020-07-22T00:00:00.000000000',
       '2020-07-23T00:00:00.000000000', '2020-07-24T00:00:00.000000000',
       '2020-07-25T00:00:00.000000000', '2020-07-26T00:00:00.000000000',
       '2020-07-27T00:00:00.000000000', '2020-07-28T00:00:00.000000000',
       '2020-07-29T00:00:00.000000000', '2020-07-30T00:00:00.000000000',
       '2020-07-31T00:00:00.000000000', '2020-08-01T00:00:00.000000000',
       '2020-08-02T00:00:00.000000000', '2020-08-03T00:00:00.000000000',
       '2020-08-04T00:00:00.000000000', '2020-08-05T00:00:00.000000000',
       '2020-08-06T00:00:00.000000000', '2020-08-07T00:00:00.000000000',
       '2020-08-08T00:00:00.000000000', '2020-08-09T00:00:00.000000000',
       '2020-08-10T00:00:00.000000000', '2020-08-11T00:00:00.000000000',
       '2020-08-12T00:00:00.000000000', '2020-08-13T00:00:00.000000000',
       '2020-08-14T00:00:00.000000000', '2020-08-15T00:00:00.000000000',
       '2020-08-16T00:00:00.000000000', '2020-08-17T00:00:00.000000000',
       '2020-08-18T00:00:00.000000000', '2020-08-19T00:00:00.000000000',
       '2020-08-20T00:00:00.000000000', '2020-08-21T00:00:00.000000000',
       '2020-08-22T00:00:00.000000000', '2020-08-23T00:00:00.000000000',
       '2020-08-24T00:00:00.000000000', '2020-08-25T00:00:00.000000000',
       '2020-08-26T00:00:00.000000000', '2020-08-27T00:00:00.000000000',
       '2020-08-28T00:00:00.000000000', '2020-08-29T00:00:00.000000000',
       '2020-08-30T00:00:00.000000000', '2020-08-31T00:00:00.000000000',
       '2020-09-01T00:00:00.000000000'], dtype='datetime64[ns]')

In [10]:
snapshot['state'].unique()

array(['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California',
       'Colorado', 'Connecticut', 'Delaware', 'District of Columbia',
       'Florida', 'Georgia', 'Guam', 'Hawaii', 'Idaho', 'Illinois',
       'Indiana', 'Iowa', 'Kansas', 'Kentucky', 'Louisiana', 'Maine',
       'Maryland', 'Massachusetts', 'Michigan', 'Minnesota',
       'Mississippi', 'Missouri', 'Montana', 'Nebraska', 'Nevada',
       'New Hampshire', 'New Jersey', 'New Mexico', 'New York',
       'North Carolina', 'North Dakota', 'Northern Mariana Islands',
       'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania', 'Puerto Rico',
       'Rhode Island', 'South Carolina', 'South Dakota', 'Tennessee',
       'Texas', 'Utah', 'Vermont', 'Virgin Islands', 'Virginia',
       'Washington', 'West Virginia', 'Wisconsin', 'Wyoming'],
      dtype=object)

In [11]:
snapshot[snapshot['state']=='Alabama']['deaths']

6614      972
6669      985
6724     1006
6779     1007
6834     1007
         ...
9804     2107
9859     2152
9914     2162
9969     2182
10024    2200
Name: deaths, Length: 63, dtype: int64

In [12]:
#snapshot.to_csv('../data/state_snapshot.csv')

In [13]:
snapshot

            date          state  fips   cases  deaths
6614  2020-07-01        Alabama     1   38962     972
6615  2020-07-01         Alaska     2    1174      12
6616  2020-07-01        Arizona     4   84152    1726
6617  2020-07-01       Arkansas     5   21197     277
6618  2020-07-01     California     6  239764    6168
...          ...            ...   ...     ...     ...
10074 2020-09-01       Virginia    51  121615    2612
10075 2020-09-01     Washington    53   78061    2018
10076 2020-09-01  West Virginia    54   10507     222
10077 2020-09-01      Wisconsin    55   81688    1141
10078 2020-09-01        Wyoming    56    3866      41

[3465 rows x 5 columns]

In [14]:
snapshot['death_per_day'] = snapshot['deaths'].diff()
snapshot.drop(columns='death_per_day',inplace=True)

<ipython-input-14-0e99f111a82c>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  snapshot['death_per_day'] = snapshot['deaths'].diff()
C:\Users\User\anaconda3\lib\site-packages\pandas\core\frame.py:4162: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [15]:
snapshot

            date          state  fips   cases  deaths
6614  2020-07-01        Alabama     1   38962     972
6615  2020-07-01         Alaska     2    1174      12
6616  2020-07-01        Arizona     4   84152    1726
6617  2020-07-01       Arkansas     5   21197     277
6618  2020-07-01     California     6  239764    6168
...          ...            ...   ...     ...     ...
10074 2020-09-01       Virginia    51  121615    2612
10075 2020-09-01     Washington    53   78061    2018
10076 2020-09-01  West Virginia    54   10507     222
10077 2020-09-01      Wisconsin    55   81688    1141
10078 2020-09-01        Wyoming    56    3866      41

[3465 rows x 5 columns]

In [16]:
new_snapshot = pd.DataFrame()

for state in snapshot['state'].unique():
    one_state_df = snapshot[snapshot['state']==state]
    
    one_state_df['daily_new_cases'] = one_state_df['cases'].diff()
    one_state_df['daily_new_deaths'] = one_state_df['deaths'].diff()
    
    one_state_df['zeroed_cases'] = one_state_df['cases'] - list(one_state_df['cases'])[0]
    one_state_df['zeroed_deaths'] = one_state_df['deaths'] - list(one_state_df['deaths'])[0]
    
    new_snapshot = new_snapshot.append(one_state_df)

<ipython-input-16-39945624e445>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  one_state_df['daily_new_cases'] = one_state_df['cases'].diff()
<ipython-input-16-39945624e445>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  one_state_df['daily_new_deaths'] = one_state_df['deaths'].diff()
<ipython-input-16-39945624e445>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  one_state_df['zeroed_cases'] = one_state_df['cases'] - list(one_state_df['cases'])[0]
<ipython-input-16-39945624e445>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  one_state_df['zeroed_deaths'] = one_state_df['deaths'] - list(one_state_df['deaths'])[0]

In [17]:
new_snapshot.fillna(0,inplace=True)
new_snapshot.reset_index(inplace=True)

In [20]:
new_snapshot.drop(columns='index',inplace=True)

In [21]:
new_snapshot.head(15)

,date,state,fips,cases,deaths,daily_new_cases,daily_new_deaths,zeroed_cases,zeroed_deaths
0,2020-07-01,Alabama,1,38962,972,0.0,0.0,0,0
1,2020-07-02,Alabama,1,40111,985,1149.0,13.0,1149,13
2,2020-07-03,Alabama,1,41865,1006,1754.0,21.0,2903,34
3,2020-07-04,Alabama,1,42862,1007,997.0,1.0,3900,35
4,2020-07-05,Alabama,1,43953,1007,1091.0,0.0,4991,35
5,2020-07-06,Alabama,1,44878,1007,925.0,0.0,5916,35
6,2020-07-07,Alabama,1,45785,1033,907.0,26.0,6823,61
7,2020-07-08,Alabama,1,46962,1058,1177.0,25.0,8000,86
8,2020-07-09,Alabama,1,49174,1068,2212.0,10.0,10212,96
9,2020-07-10,Alabama,1,50508,1104,1334.0,36.0,11546,132
10,2020-07-11,Alabama,1,51947,1114,1439.0,10.0,12985,142
11,2020-07-12,Alabama,1,53587,1121,1640.0,7.0,14625,149
12,2020-07-13,Alabama,1,55545,1124,1958.0,3.0,16583,152
13,2020-07-14,Alabama,1,57255,1164,1710.0,40.0,18293,192
14,2020-07-15,Alabama,1,59067,1211,1812.0,47.0,20105,239

In [23]:
new_snapshot.to_csv('../data/two_month_snapshot.csv')