## Cases/Deaths by State: Jul 1 - Sep 1, 2020

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
plt.style.use('ggplot')

import seaborn as sns
import datetime

In [3]:
states = pd.read_csv('./us-states.csv')

In [4]:
states['date'] = pd.to_datetime(states['date'])

In [5]:
states.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12334 entries, 0 to 12333
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    12334 non-null  datetime64[ns]
 1   state   12334 non-null  object
 2   fips    12334 non-null  int64
 3   cases   12334 non-null  int64
 4   deaths  12334 non-null  int64
dtypes: datetime64[ns](1), int64(3), object(1)
memory usage: 481.9+ KB

In [6]:
states.head()

        date       state  fips  cases  deaths
0 2020-01-21  Washington    53      1       0
1 2020-01-22  Washington    53      1       0
2 2020-01-23  Washington    53      1       0
3 2020-01-24    Illinois    17      1       0
4 2020-01-24  Washington    53      1       0

### Slice DataFrame to include 2020-07-01 to 2020-09-01 only

In [7]:
states['state'].unique()

array(['Washington', 'Illinois', 'California', 'Arizona', 'Massachusetts',
       'Wisconsin', 'Texas', 'Nebraska', 'Utah', 'Oregon', 'Florida',
       'New York', 'Rhode Island', 'Georgia', 'New Hampshire',
       'North Carolina', 'New Jersey', 'Colorado', 'Maryland', 'Nevada',
       'Tennessee', 'Hawaii', 'Indiana', 'Kentucky', 'Minnesota',
       'Oklahoma', 'Pennsylvania', 'South Carolina',
       'District of Columbia', 'Kansas', 'Missouri', 'Vermont',
       'Virginia', 'Connecticut', 'Iowa', 'Louisiana', 'Ohio', 'Michigan',
       'South Dakota', 'Arkansas', 'Delaware', 'Mississippi',
       'New Mexico', 'North Dakota', 'Wyoming', 'Alaska', 'Maine',
       'Alabama', 'Idaho', 'Montana', 'Puerto Rico', 'Virgin Islands',
       'Guam', 'West Virginia', 'Northern Mariana Islands'], dtype=object)

In [11]:
snapshot[snapshot['state']=='Alabama']['deaths']

6614      972
6669      985
6724     1006
6779     1007
6834     1007
         ...
9804     2107
9859     2152
9914     2162
9969     2182
10024    2200
Name: deaths, Length: 63, dtype: int64

In [12]:
#snapshot.to_csv('../data/state_snapshot.csv')

In [8]:
new_states = pd.DataFrame()

for state in states['state'].unique():
    one_state_df = states[states['state']==state]
    
    one_state_df['daily_new_cases'] = one_state_df['cases'].diff()
    one_state_df['daily_new_deaths'] = one_state_df['deaths'].diff()
    
    one_state_df['zeroed_cases'] = one_state_df['cases'] - list(one_state_df['cases'])[0]
    one_state_df['zeroed_deaths'] = one_state_df['deaths'] - list(one_state_df['deaths'])[0]
    
    new_states = new_states.append(one_state_df)

<ipython-input-8-26d85457f3ab>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  one_state_df['daily_new_cases'] = one_state_df['cases'].diff()
<ipython-input-8-26d85457f3ab>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  one_state_df['daily_new_deaths'] = one_state_df['deaths'].diff()
<ipython-input-8-26d85457f3ab>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  one_state_df['zeroed_cases'] = one_state_df['cases'] - list(one_state_df['cases'])[0]
<ipython-input-8-26d85457f3ab>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  one_state_df['zeroed_deaths'] = one_state_df['deaths'] - list(one_state_df['deaths'])[0]

In [9]:
new_states.fillna(0,inplace=True)
new_states.reset_index(inplace=True)

In [10]:
new_states.drop(columns='index',inplace=True)

In [11]:
new_states.head(15)

,date,state,fips,cases,deaths,daily_new_cases,daily_new_deaths,zeroed_cases,zeroed_deaths
0,2020-01-21,Washington,53,1,0,0.0,0.0,0,0
1,2020-01-22,Washington,53,1,0,0.0,0.0,0,0
2,2020-01-23,Washington,53,1,0,0.0,0.0,0,0
3,2020-01-24,Washington,53,1,0,0.0,0.0,0,0
4,2020-01-25,Washington,53,1,0,0.0,0.0,0,0
5,2020-01-26,Washington,53,1,0,0.0,0.0,0,0
6,2020-01-27,Washington,53,1,0,0.0,0.0,0,0
7,2020-01-28,Washington,53,1,0,0.0,0.0,0,0
8,2020-01-29,Washington,53,1,0,0.0,0.0,0,0
9,2020-01-30,Washington,53,1,0,0.0,0.0,0,0
10,2020-01-31,Washington,53,1,0,0.0,0.0,0,0
11,2020-02-01,Washington,53,1,0,0.0,0.0,0,0
12,2020-02-02,Washington,53,1,0,0.0,0.0,0,0
13,2020-02-03,Washington,53,1,0,0.0,0.0,0,0
14,2020-02-04,Washington,53,1,0,0.0,0.0,0,0

In [12]:
new_states.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12334 entries, 0 to 12333
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   date              12334 non-null  datetime64[ns]
 1   state             12334 non-null  object
 2   fips              12334 non-null  int64
 3   cases             12334 non-null  int64
 4   deaths            12334 non-null  int64
 5   daily_new_cases   12334 non-null  float64
 6   daily_new_deaths  12334 non-null  float64
 7   zeroed_cases      12334 non-null  int64
 8   zeroed_deaths     12334 non-null  int64
dtypes: datetime64[ns](1), float64(2), int64(5), object(1)
memory usage: 867.4+ KB

In [13]:
new_states['state'].unique()

array(['Washington', 'Illinois', 'California', 'Arizona', 'Massachusetts',
       'Wisconsin', 'Texas', 'Nebraska', 'Utah', 'Oregon', 'Florida',
       'New York', 'Rhode Island', 'Georgia', 'New Hampshire',
       'North Carolina', 'New Jersey', 'Colorado', 'Maryland', 'Nevada',
       'Tennessee', 'Hawaii', 'Indiana', 'Kentucky', 'Minnesota',
       'Oklahoma', 'Pennsylvania', 'South Carolina',
       'District of Columbia', 'Kansas', 'Missouri', 'Vermont',
       'Virginia', 'Connecticut', 'Iowa', 'Louisiana', 'Ohio', 'Michigan',
       'South Dakota', 'Arkansas', 'Delaware', 'Mississippi',
       'New Mexico', 'North Dakota', 'Wyoming', 'Alaska', 'Maine',
       'Alabama', 'Idaho', 'Montana', 'Puerto Rico', 'Virgin Islands',
       'Guam', 'West Virginia', 'Northern Mariana Islands'], dtype=object)

In [14]:
states.to_csv('../data/covid_metrics_full_time')