## Cases/Deaths by State: Jul 1 - Sep 1, 2020

In [47]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
plt.style.use('ggplot')

import datetime

In [30]:
states = pd.read_csv('./us-states.csv')

In [31]:
states['date'] = pd.to_datetime(states['date']).floor('D')

AttributeError: 'Series' object has no attribute 'floor'

In [14]:
states.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12334 entries, 0 to 12333
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    12334 non-null  datetime64[ns]
 1   state   12334 non-null  object
 2   fips    12334 non-null  int64
 3   cases   12334 non-null  int64
 4   deaths  12334 non-null  int64
dtypes: datetime64[ns](1), int64(3), object(1)
memory usage: 481.9+ KB

In [15]:
states.head()

        date       state  fips  cases  deaths
0 2020-01-21  Washington    53      1       0
1 2020-01-22  Washington    53      1       0
2 2020-01-23  Washington    53      1       0
3 2020-01-24    Illinois    17      1       0
4 2020-01-24  Washington    53      1       0

### Slice DataFrame to include 2020-07-01 to 2020-09-01 only

In [35]:
snapshot = states[(states['date']>='2020-07-01') & (states['date']<='2020-09-01')]

In [42]:
snapshot.head()

            date       state  fips   cases  deaths
6614  2020-07-01     Alabama     1   38962     972
6615  2020-07-01      Alaska     2    1174      12
6616  2020-07-01     Arizona     4   84152    1726
6617  2020-07-01    Arkansas     5   21197     277
6618  2020-07-01  California     6  239764    6168

In [43]:
snapshot.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3465 entries, 6614 to 10078
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    3465 non-null   object
 1   state   3465 non-null   object
 2   fips    3465 non-null   int64
 3   cases   3465 non-null   int64
 4   deaths  3465 non-null   int64
dtypes: int64(3), object(2)
memory usage: 162.4+ KB

In [39]:
snapshot['date'].unique()

array(['2020-07-01', '2020-07-02', '2020-07-03', '2020-07-04',
       '2020-07-05', '2020-07-06', '2020-07-07', '2020-07-08',
       '2020-07-09', '2020-07-10', '2020-07-11', '2020-07-12',
       '2020-07-13', '2020-07-14', '2020-07-15', '2020-07-16',
       '2020-07-17', '2020-07-18', '2020-07-19', '2020-07-20',
       '2020-07-21', '2020-07-22', '2020-07-23', '2020-07-24',
       '2020-07-25', '2020-07-26', '2020-07-27', '2020-07-28',
       '2020-07-29', '2020-07-30', '2020-07-31', '2020-08-01',
       '2020-08-02', '2020-08-03', '2020-08-04', '2020-08-05',
       '2020-08-06', '2020-08-07', '2020-08-08', '2020-08-09',
       '2020-08-10', '2020-08-11', '2020-08-12', '2020-08-13',
       '2020-08-14', '2020-08-15', '2020-08-16', '2020-08-17',
       '2020-08-18', '2020-08-19', '2020-08-20', '2020-08-21',
       '2020-08-22', '2020-08-23', '2020-08-24', '2020-08-25',
       '2020-08-26', '2020-08-27', '2020-08-28', '2020-08-29',
       '2020-08-30', '2020-08-31', '2020-09-01'], dtype=object)

In [46]:
snapshot['state'].unique()

array(['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California',
       'Colorado', 'Connecticut', 'Delaware', 'District of Columbia',
       'Florida', 'Georgia', 'Guam', 'Hawaii', 'Idaho', 'Illinois',
       'Indiana', 'Iowa', 'Kansas', 'Kentucky', 'Louisiana', 'Maine',
       'Maryland', 'Massachusetts', 'Michigan', 'Minnesota',
       'Mississippi', 'Missouri', 'Montana', 'Nebraska', 'Nevada',
       'New Hampshire', 'New Jersey', 'New Mexico', 'New York',
       'North Carolina', 'North Dakota', 'Northern Mariana Islands',
       'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania', 'Puerto Rico',
       'Rhode Island', 'South Carolina', 'South Dakota', 'Tennessee',
       'Texas', 'Utah', 'Vermont', 'Virgin Islands', 'Virginia',
       'Washington', 'West Virginia', 'Wisconsin', 'Wyoming'],
      dtype=object)

In [65]:
snapshot[snapshot['state']=='Alabama']['cases']

6614      38962
6669      40111
6724      41865
6779      42862
6834      43953
          ...
9804     122185
9859     123889
9914     125235
9969     126058
10024    127616
Name: cases, Length: 63, dtype: int64